@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{

    font-family: Comic Neue
, sans-serif;
       margin:0;
       padding:0;
   }
   
   .container{
       max-width: 800px;
       margin: 0 auto;
       padding: 20px;
       background: linear-gradient(magenta,purple,black);
       color: beige;

    
   
   
   }
   
   .titulo-principal{


    font-family: Roboto Mono, sans-serif
   }
   
   .titulo-principal{
   text-align: center;
       font-size: 2cm;
   }
   
   .banner{
       text-align: center;
   }
   
   .banner img{
       width: 800;
       height: auto;
       border-radius: 50px;
       box-shadow: 0 0 10px;
   
   }
   
    .elenco{
       display: flex;
       justify-content: space-around;
       margin-bottom: 70px;
   
    }
   
    .ator{
       text-align: center;
   
    }
   
    .ator img{
       width: 100px;
       height: 150px;
       object-fit: cover;
       border-radius: 4px;
   
   
    }